{{ define "header" }}
<header class="homepage-header">
    <h1><a href="{{.Page.Site.BaseURL}}">{{- .Title -}}</a></h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
</header>
{{ end }}
{{ define "main" }}
<main>
    <div class="homepage-content">{{- .Content -}}</div>
</main>
{{ end }}
{{ define "aside" }}
<aside>
    <section class="grid">{{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
        <div>
            <a href="{{.link}}">{{.text}}</a>
        </div>
        {{ end }}
        {{ else }}
        {{ range .Site.Sections }}
        <div><a href="{{.Permalink}}">{{.Title}}</a></div>
        {{ end }}
        {{ end }}
    </section>
</aside>
    <div class="homepage-snippets">{{ range first 10 .Site.RegularPages }}
        {{ .Render "summary" }}
        {{ end }}
    </div>
{{ end }}
