{{ define "header" }}
<header class="homepage-header">
    <h1>{{- .Title -}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
</header>
{{ end }}
{{ define "main" }}
<main>
    <article>{{- .Content -}}</article>
    {{ if .Site.Params.showMicroposts }}
    <section class="microposts">
        <h2>Recent posts</h2>
        {{ range first 5 (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
        <article class="micropost">
            <aside class="list-date">
                <a href="{{.Permalink}}">{{.Date.Format "15:04 on Monday 02 January 2006" }}</a>
            </aside>
            <p>
                {{ .Summary }}
            </p>
        </article>
        {{ end }}
    </section>
    {{ end }}
</main>
{{ end }}
{{ define "aside" }}
<aside>
    <nav>{{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
        <div>
            <a href="{{.link}}">{{.text}}</a>
        </div>
        {{ end }}
        {{ else }}
        {{ range .Site.Sections }}
        <div><a href="{{.Permalink}}">{{.Title}}</a></div>
        {{ end }}
        {{ end }}
    </nav>
</aside>
{{ end }}
