{{ define "header" }}
<header>
    <h1>
        {{- .Title -}}
    </h1>
</header>
{{ end }}
{{ define "main" }}
<main id="content">
    <div class="meta">
        <span>{{- .Date.Format (.Site.Params.dateForm | default "02 January 2006") -}}</span>
        <span>&#183; {{ .WordCount }} words</span>
        {{/* with .Params.tags }}
        <div class="tag-container">
            {{ range .}}
            <span class="tag">
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{.}}</a>
            </span>
            {{ end }}
        </div>
        {{ end */}}
        <hr />
    </div>
    <article>
        {{ .Content }}
    </article>
</main>
{{ end }}
{{/* define "bottom-menu" }}
<section class="bottom-menu">
    {{ partial "bottom_menu.html" (dict "Page" . "show_back_menu_item" true) }}
</section>
{{ end */}}

