{{ define "header" }}
  <header class="py-3">
    <h1 class="text-3xl text-blue-900 font-semibold">{{- .Title -}}</h1>
    {{ with .Params.subtitle }}
      <span class="text-lg text-gray-900">{{ . }}</span>
    {{ end }}
  </header>
{{ end }}
{{ define "main" }}
  <main class="prose">
    {{ if .Content }}
      <article>{{- .Content -}}</article>
    {{ end }}
    {{ if .Site.Params.showMicroposts }}
      <section class="microposts">
        <h2 class="text-sm">Recent posts</h2>
        {{ range first 5 (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
          <article class="micropost">
            <aside class="list-date">
              <a class="text-sm" href="{{ .Permalink }}"
                >{{ .Date.Format "15:04 on Monday 02 January 2006" }}</a
              >
            </aside>
            <p>{{ .Summary }}</p>
          </article>
        {{ end }}
      </section>
    {{ end }}
  </main>
{{ end }}
{{ define "aside" }}
  <aside>
    <nav>
      {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
          <div>
            <a href="{{ .link }}">{{ .text }}</a>
          </div>
        {{ end }}
      {{ else }}
        {{ range .Site.Sections }}
          <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        {{ end }}
      {{ end }}
    </nav>
  </aside>
{{ end }}
